<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/10.2/phpunit.xsd"
         bootstrap="vendor/autoload.php"
         colors="true"
         cacheDirectory="vendor/.phpunit.cache"
>
    <php>
        <ini name="error_reporting" value="-1"/>
        <ini name="memory_limit" value="-1"/>
        <env name="APP_ENV" value="testing"/>
        <env name="RAILT_DEBUG" value="1"/>
    </php>

    <testsuites>
        <testsuite name="railt/contracts/http">
            <directory>libs/contracts/http/tests/Unit</directory>
        </testsuite>
        <testsuite name="railt/contracts/http-factory">
            <directory>libs/contracts/http-factory/tests/Unit</directory>
        </testsuite>
        <testsuite name="railt/contracts/http-middleware">
            <directory>libs/contracts/http-middleware/tests/Unit</directory>
        </testsuite>
        <testsuite name="railt/executors/webonyx">
            <directory>libs/executors/webonyx/tests/Unit</directory>
        </testsuite>
        <testsuite name="railt/extensions/router">
            <directory>libs/extensions/router/tests/Unit</directory>
        </testsuite>
        <testsuite name="railt/foundation">
            <directory>libs/foundation/tests/Unit</directory>
        </testsuite>
        <testsuite name="railt/http">
            <directory>libs/http/tests/Unit</directory>
        </testsuite>
        <testsuite name="railt/http-factory">
            <directory>libs/http-factory/tests/Unit</directory>
        </testsuite>
        <testsuite name="railt/http-middleware">
            <directory>libs/http-middleware/tests/Unit</directory>
        </testsuite>
        <testsuite name="railt/sdl">
            <directory>libs/sdl/tests/Unit</directory>
        </testsuite>
        <testsuite name="railt/sdl-generator">
            <directory>libs/sdl-generator/tests/Unit</directory>
        </testsuite>
        <testsuite name="railt/type-system">
            <directory>libs/type-system/tests/Unit</directory>
        </testsuite>
    </testsuites>

    <coverage/>

    <source>
        <include>
            <directory suffix=".php">libs/**/src</directory>
        </include>
    </source>
</phpunit>
