<?xml version="1.0" encoding="UTF-8"?>
<phpunit backupGlobals="true"
         backupStaticAttributes="false"
         bootstrap="vendor/autoload.php"
         colors="true"
         convertErrorsToExceptions="true"
         convertNoticesToExceptions="true"
         convertWarningsToExceptions="true"
         processIsolation="false"
         stopOnFailure="false"
         syntaxCheck="true">
    <testsuites>
        <testsuite name="Http Kernel Tests">
            <directory suffix="TestCase.php">./tests/Http</directory>
        </testsuite>
        <testsuite name="GraphQL SDL Parser Tests">
            <directory suffix="TestCase.php">./tests/Parser</directory>
        </testsuite>
        <testsuite name="Routing Tests">
            <directory suffix="TestCase.php">./tests/Routing</directory>
        </testsuite>
        <testsuite name="GraphQL SDL Reflection Tests">
            <directory suffix="TestCase.php">./tests/Reflection</directory>
        </testsuite>
    </testsuites>
    <filter>
        <whitelist>
            <directory suffix=".php">src/</directory>
        </whitelist>
    </filter>
    <php>
        <ini name="error_reporting" value="-1" />

        <env name="SYMFONY_DEPRECATIONS_HELPER" value="weak"/>
        <env name="APP_ENV" value="testing" />
    </php>
</phpunit>
