language: php

php:
  - 7.1
  - 7.2
  - 7.3
  - nightly

env:
  global:
    - CC_TEST_REPORTER_ID=2eb6399a3c1327152da7c9bade0c25857450f86818dcab7f51cbf410d2b2133c

matrix:
  fast_finish: true
  allow_failures:
    - php: nightly

cache:
  directories:
    - $HOME/.composer/cache

before_script:
  # Initialise Composer
  - composer self-update -q
  - composer global require hirak/prestissimo

  # Installing Composer dependencies
  - composer install --no-interaction --no-suggest --optimize-autoloader

  # Installing code coverage tools
  - curl -L https://codeclimate.com/downloads/test-reporter/test-reporter-latest-linux-amd64 > ./cc-test-reporter
  - chmod +x ./cc-test-reporter
  - ./cc-test-reporter before-build

after_script:
  - ./cc-test-reporter after-build -t clover --exit-code $TRAVIS_TEST_RESULT

script: vendor/bin/phpunit --coverage-clover clover.xml
