{
    "presets": [
        "es2015",
        "stage-0"
    ],
    "plugins": [
        "syntax-decorators",
        "syntax-flow",
        "transform-runtime",
        "transform-decorators-legacy",
        "transform-flow-comments"
    ]
}
