@import "./base.scss";

.app-nav {
  ul {
    display: block;
    background: rgba($color-bg, .3);
    float: right;
    padding: 4px 10px;
    margin: 0;
    border-radius: 3px;
  }

  a,
  a:hover {
    font-size: 13px;
    margin-left: 5px;
    color: #fff;

    &.active {
      font-weight: bold;
      color: #fff !important;
      border-color: #fff;
    }
  }
}

.cover {
  box-shadow: inset 0 -1px 0 #eee;
}

.sidebar {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell",
    "Fira Sans", "Droid Sans", "Helvetica Neue", "Helvetica", "Arial", sans-serif;

  &-nav {
    margin-top: 2em;
  }

  ul li {
    & > p {
      color: #888;
      font-size: 0.86em;
      letter-spacing: 0.1em;
      font-weight: normal;
      text-transform: uppercase;
      margin: 1.8em 10px 0.7em 2px;
      padding: 0.5em 10px;
      box-shadow: 0 1px 0 0 #eee;
    }

    a {
      padding-top: 5px;
      padding-bottom: 5px;
      color: #4a4a4a;
    }
  }

  ul li,
  ul li a {
    font-size: 14px;

    li li,
    li li a {
      font-size: 12px;
      margin-left: 14px;
      padding: 0;

      a:before {
        content: '-';
        display: inline;
        position: absolute;
        margin-left: -10px;
      }
    }
  }
}

.markdown {
  &-section {
    padding-bottom: 300px;

    h1 {
      & + ul {
        padding: 25px 0;

        li {
          list-style: none;
          font-size: 17px;
          line-height: 24px;
          margin: 0;
          padding: 0;

          &:before {
            content: '#';
            margin-right: 8px;
            font-size: 80%;
            font-weight: bold;
            color: rgba(desaturate($color-ui, 20%), .16);
          }

          a {
            text-decoration: none;
            &:hover {
              color: darken($color-ui, 10%);
            }
          }

          ul {
            margin: 0 0 5px 0;
            padding: 0 0 0 40px;
            line-height: 18px;

            li {
              a {
                font-size: 16px;
                font-weight: normal;
              }
            }
          }
        }
      }
    }

    a {
      &.anchor {
        text-decoration: none;
      }
    }

    h1 {
      font-size: 4rem;
      span {
        font-weight: 300;
      }
    }

    h2 {
      font-size: 2rem;
      padding-top: 40px;
      box-shadow: 0 -1px 0 #f0f0f0;
    }

    h3 {
      font-size: 1.6rem;
    }

    h1 + ul + h2 {
      padding-top: 0;
      box-shadow: none;
    }
  }
}

.screencast {
  padding-left: 30px;
  background: url('https://asciinema.org/assets/logo-red-976f0504537a25e73aaef858d78b4d13c3c25bd10d3a51d65c20aa9bd3fa01a5.svg') no-repeat;
  text-decoration: none;
}
